form {
  padding: 1em;
}

.footer-row {
  align-items: center;
  border-top: 1px solid grey;
  display: flex;
  margin-top: 1em;
  padding-top: 1em;
}

.required-indicator {
  color: red;
  vertical-align: super;
}
